<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        (click)="jumbotronExample.toggle()"
        aria-controls="jumbotronExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        mdbCollapse
        #jumbotronExample="mdbCollapse"
        class="collapse navbar-collapse"
        id="jumbotronExample"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
          <li class="nav-item" routerLinkActive="active" aria-current="page" auth="administrator,client">
            <a [routerLink]="['/dashboard']" class="nav-link text-sm-center">
              <img class="logo" [src]="'/assets/images/bot-logo.png'" [alt]="'BinBot'"
                   [title]="'BinBot'"/>
            </a>
          </li>
          <li class="nav-item active" routerLinkActive="active" aria-current="page" auth="administrator,client">
            <a [routerLink]="['/dashboard']" class="nav-link">{{ "header.dashboard" | translate }}</a>
          </li>
          <li class="nav-item" routerLinkActive="active" auth="administrator,client">
            <a [routerLink]="['/users']" class="nav-link">{{"header.users" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active" auth="administrator,client">
            <a [routerLink]="['/daemons']" class="nav-link">{{"header.daemons" | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="text-right">
        <button style="margin-right: 10px" mat-button
                (click)="openChangePasswordDialog()">{{"header.change_password" | translate}}</button>
        <button mat-raised-button color="primary" (click)="logout()">{{"header.logout" | translate}}</button>
      </div>
    </div>
  </nav>
</header>
