<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-3">

        <form *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>
          <div>
            <img class="logo" [src]="'/assets/images/bot-logo.png'" [alt]="'BinBot'"
                 [title]="'BinBot'"/>
            <p style="text-align: center;">BinBot Login</p>
          </div>
          <div class="form-outline mb-4">
            <input id="username" class="form-control" type="text"
                   name="username"
                   [(ngModel)]="form.username"
                   required
                   placeholder="Username"
                   #username="ngModel"/>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="username.errors && f.submitted">
              Username is required!
            </div>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control"
                   name="password"
                   [(ngModel)]="form.password"
                   required
                   placeholder="Password"
                   #password="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && f.submitted"
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-dark btn-block mb-4">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</section>


